extends ../layout-marketing

block content
	main#main-content.content.content-alt
		.container
			.row
				.col-lg-8.offset-lg-2.col-xl-6.offset-xl-3
					.card
						.card-body
							.page-header
								h1 #{translate("password_reset")}
							
							p
								| 비밀번호 변경은 
								strong overlatex@gmail.com 
								| 으로 문의 부탁드립니다. 감사합니다.
							
							div.mt-3
								a.btn.btn-primary(href='/login')
									| 로그인 페이지로 돌아가기